body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 1024px;
  height: 600px;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    height: 420px;
  }
  .textArea {
    margin: 0 auto;
    width: 750px;
    height: 100%;
    max-height: 200px;
    & > textarea {
      width: 99%;
      height: 100%;
      resize: none;
      outline: none; /*Светящаяся рамка:убераем*/
      border-width: 2px; /*Ширина рамки:2px*/
      border-radius: 2px; /*Скругление углов:2px*/
      font-size: 18pt; /*Размер шрифта:18pt*/
      background: #ecf0f1;
      @media screen and (max-width: 767px) {
        font-size: 14pt;
      }
    }
    @media screen and (max-width: 767px) {
      width: 476px;
      border-width: 1px; /*Ширина рамки:2px*/
      border-radius: 1px; /*Скругление углов:2px*/
      font-size: 12pt;
      max-height: 150px;
    }
  }
  .keydbord-wrapper {
    margin: 0 auto;
    margin-top: 20px;
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;
    border: 2px solid rgb(233, 233, 233);
    border-radius: 5px;
    transition: top 0.5s;
    position: relative;
    top: calc(100vh - 250px);
    @media screen and (max-width: 767px) {
      width: 480px;
    }
  }
}

.ru,
.en {
  display: none;
  width: 100%;
  height: 100%;
}

.button,
.buttonUp {
  transition: all 0.4s;
  display: none;
}

.active {
  margin: auto;
  display: flex;
}

.key {
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgb(234, 238, 234);
  margin: 5px;
  border: none;
  border-radius: 5px;
  transition: all 0.4s;
  &:hover {
    border-radius: 50px;
  }
  @media screen and (max-width: 767px) {
    width: 28px;
    height: 28px;
    margin: 2px;
  }
}
.Backspace,
.CapsLock,
.ShiftLeft,
.ShiftRight,
.Enter,
.Space,
.Tab,
.Delete,
.ControlLeft,
.ControlRight,
.Rec,
.Sound,
.Lang,
.MetaLeft,
.AltLeft,
.AltRight,
.ArrowLeft,
.ArrowRight,
.ArrowUp,
.ArrowDown {
  span button {
    background-color: #e9e5e9;
  }
}
.Rec {
  span button {
    background-image: url("/src/assets/images/mic_black.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      // background-image: url("/src/assets/images/mic_white.png");
      background-color: red;
    }
    @media screen and (max-width: 767px) {
      background-size: 17px;
    }
  }
}
.record {
  span button {
    background-image: url("/src/assets/images/mic_white.png");
    background-color: red;
  }
}

.Sound {
  span button {
    background-image: url("/src/assets/images/sound_black.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      background-image: url("/src/assets/images/sound_white.png");
    }
    @media screen and (max-width: 767px) {
      background-size: 14px;
    }
  }
}

.SoundOn {
  border-radius: 50px;
  span button {
    background-image: url("/src/assets/images/sound_white.png");
    background-color: slateblue;
    border-radius: 50px;
  }
}

.active-button {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: #ecf0f1;

  cursor: pointer;
  &:hover {
    transition: all 0.2s;
    background-color: slateblue;
    color: aliceblue;
  }
  &:active,
  &:focus {
    transition: all 0.4s;
    outline: none;
    background-color: rgb(138, 12, 170);
    border-radius: 50px;
    color: aliceblue;
  }
  @media screen and (max-width: 767px) {
    font-size: 0.7em;
  }
}

.clicked-button {
  border-radius: 50px;
  span button {
    background-color: rgb(138, 12, 170);
    border-radius: 50px;
    color: aliceblue;
  }
}

.Lang {
  span button span {
    position: relative;
    font-size: x-small;
    top: -7px;
    right: -1px;
    @media screen and (max-width: 767px) {
      font-size: 0.65em;
    }
  }
}

.Backspace,
.CapsLock,
.ShiftLeft,
.ShiftRight,
.Enter {
  width: 90px;
  @media screen and (max-width: 767px) {
    width: 60px;
  }
}

.Space {
  width: 190px;
  @media screen and (max-width: 767px) {
    width: 124px;
  }
}

.info {
  margin: 0 auto;
  margin-top: 20px;
}

.infoText {
  font: italic;
  font-size: x-large;
  text-align: center;
}
